<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Derwolf Educação</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <img src="/images/DerwolfEducaçãoBanner.png" alt="Capa Derwolf Educação" class="capa">
    <p>Transformando aprendizado em poder!</p>
    <nav class="navheader">
      <a href="/">Início</a>
      <a href="/aulas">Aulas Particulares</a>
      <a href="/produtos">Cursos</a>
      <a href="https://wa.me/5518996181770?text=Olá!%20Eu%20gostaria%20de%20marcar%20uma%20aula%20experimental." target="_blank">Contato</a>
    </nav>
  </header>

  <section class="sobre">
    <h2>Quem Somos</h2>
    <div class="video-container">
        <iframe 
          src="https://www.youtube.com/embed/OepxoQLREl8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    <div class="container">
      <div class="texto">
        <p>
            A Derwolf Educação transforma o aprendizado em uma experiência prazerosa e acessível.
            Com reforço escolar presencial, suporte digital, cursos preparatórios e aulas particulares, oferecemos ensino de qualidade com uma abordagem flexível, no seu ritmo e do seu jeito.          
        </p>
      </div>
      <div class="imagem">
        <img src="images/AlunoRecebendoAjuda.png" alt="Representação do projeto Derwolf Educação" class="imagem">
      </div>
    </div>
  </section>

  <section class="destaques">
    <h2>Nossos Serviços</h2>
    <div class="servicos">
      <div class="card">
        <h3>Aulas Particulares</h3>
        <p>Atendimento individualizado com foco em resultados.</p>
        <a href="/aulas">Ver mais</a>
      </div>
      <div class="card">
        <h3>Cursos Online</h3>
        <p>Conteúdos práticos e diretos para concursos e vestibulares.</p>
        <a href="/produtos">Ver cursos</a>
      </div>
    </div>
  </section>

  <footer>
    <p>Siga a Derwolf:</p>
    <div class="redes">
      <a href="https://www.youtube.com/@derwolffisicaplus" target="_blank">YouTube</a> |
      <a href="https://www.instagram.com/profabnerofc" target="_blank">Instagram</a> |
      <a href="https://web.facebook.com/profile.php?id=61574434002651" target="_blank">Facebook</a>
    </div>
    <p>&copy; 2025 Derwolf Educação. Todos os direitos reservados.</p>
  </footer>

</body>
</html>