.NousNovaPlanetsLayout {
  max-width: 80%;
  margin: 0 auto;
  padding: 5%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #14111b;
  color: #fff;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

.NousNovaPlanetsLayout a{
  background-color: #00c462;
  color: #14111b;
}
.NousNovaPlanetsLayout a:hover{
  background-color: #c9ffd7;
}

.NousNovaPlanetsLayout #title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.NousNovaPlanetsLayout #title h1 {
  font-size: 3rem;
  margin-right: 8px;
}

.NousNovaPlanetsLayout #title h3 {
  font-size: 1.5rem;
  margin: 0;
  color: #ccc;
}

.NousNovaPlanetsLayout section h2 {
  font-size: 2rem;
  color: #f0c040;
  margin-top: 2rem;
}

.NousNovaPlanetsLayout p {
  font-size: 1.3rem;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.planet-card {
  background-color: #1f1b2a;
  padding: 1.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}

.planet-card:hover {
  transform: translateY(-5px);
}

.planet-card h3 {
  margin-top: 0;
  color: #f0c040;
}

.planet-card p {
  margin-bottom: 1rem;
}

.planet-button {
  background-color: #00c462;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
  color: #14111b;
}

.planet-button:hover {
  background-color: #c9ffd7;
}


.planet-card:hover{
  cursor: pointer;
}

.NousNovaPlanetsLayout .demo-preview {
  margin-top: 3rem;
  background-color: #1f1b2a;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.NousNovaPlanetsLayout .demo-preview h2 {
  color: #00c462;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.NousNovaPlanetsLayout .demo-preview p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%; /* proporção 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 1000px){
  .NousNovaPlanetsLayout{
    padding-bottom: 500px;
  }
}