.NousNova nav {
  position: fixed;
  top: 0;
  background-color: #1c1c1c;
  width: 100%;
  padding: 1vh;
  display: flex;
  justify-content: end;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Inter', sans-serif;
  z-index: 1000;
}

.NousNova nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  margin-right: 200px;
  justify-items: flex-end;
}

.NousNova nav li a {
  color: #ffffff; /* Bege Areia Antiga */
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s ease;
}

.NousNova nav li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #E8C547; /* Dourado Iluminista */
  transition: width 0.3s;
}

.NousNova nav li a:hover {
  color: #E8C547; /* Dourado Iluminista */
}

.NousNova nav li a:hover::after {
  width: 100%;
}
