.NousNovaLessons {
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #14111b;
  color: #fff;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

.NousNovaLessons #title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NousNovaLessons #title h1 {
  font-size: 2.5rem;
  margin-bottom: 8px;
  color: #f0c040;
}

.NousNovaLessons #title h3 {
  font-size: 1.4rem;
  margin: 0;
}

.NousNovaLessons section h2 {
  font-size: 1.8rem;
  color: #f0c040;
  margin-top: 30px;
}

.NousNovaLessons p, .NousNovaLessons ul {
  font-size: 1.3rem;
  margin-top: 10px;
}

.NousNovaLessons ul {
  padding-left: 0px;
}

.NousNovaLessons #payments a {
  color: #f0c040;
}

.NousNovaLessons #button {
  display: flex;
  justify-content: center;
  margin: 2% 0px 0px 0px;
}

.NousNovaLessons .prices{
  width: 70%;
  background-color: #1f1b2a;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  display: block;
  padding: 10px;
  margin: 30px 0px;
  justify-self: center;
}

.NousNovaLessons .prices #individualsSolicitation{
  width: 20%;
}

.NousNovaLessons .prices h2, .NousNovaLessons .prices p{
  margin-left: 2%;
}

.NousNovaLessons .prices a{
  color: #fff;
}

.NousNovaLessons .prices input[type="checkbox"]{
    appearance: none;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 2px solid #999;
    border-radius: 4px;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
}

.NousNovaLessons .prices input[type="checkbox"]:checked{
  background-color: #4caf50;
  border-color: #4caf50;
}

.NousNovaLessons #subscriptions .prices .card{
  margin-top: 10px;
  padding: 2%;
  background-color: #00c462;
  color: #14111b;
  display: flex;
  justify-self: center;
} 

.NousNovaLessons .prices li{
  background-color: #14111b;
  border-radius: 10px;
  padding: 3%;
  margin: 10px 0px 10px;
  text-align: center;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  display: flex;
}

.NousNovaLessons .prices #subscriptions ul{
  padding: 10px 30px;
}

.NousNovaLessons .prices li:hover{
  background-color: #514b61;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .NousNovaLessons{
    padding-bottom: 1000px;
  }
}