html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #1c1c1c;
}

.HomePageGlobalDiv{
  width: 100%;
  height: 100%;
  justify-items: center;
}


/* CARDS */
.card-link {
  color: inherit;
}

#navigation-cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #1f1b2a;
  border-radius: 10px;
  border-width: 5px;
  border-style: double;
  border-color: #f0c040;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
}

.card {
    background-color: #14111b;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    transition: transform 0.3s, border-color 0.3s;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
    color: #f0c040;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #fff;
}

.card p {
  color: #bbbbbb;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #4b0082;
  cursor: pointer;
}

.galaxy-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-top: 2rem;
  background-color: #1f1b2a;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.galaxy-card {
  background-color: #1e1b2a;
  padding: 10px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  justify-items: center;
}

.galaxy-card a{
  width: 50%;
}

.galaxy-card button{
    background-color: #14111b;
    border: 1px solid #333;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s, border-color 0.3s;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.galaxy-card:hover {
  transform: scale(1.05);
}

.galaxy-card h2 {
  font-size: 1.6rem;
  color: #f0c040;
}

.galaxy-card p {
  margin-bottom: 10px;
  text-align: center;
}

.planet-button.disabled {
  opacity: 0.8;
  cursor: not-allowed;
  background-color: #ccc;
  color: #000000;
  font-weight: bold;
}

.planet-button.disabled:hover {
  transform: none;
  background-color: #ff0000;
}


#icon{
  max-width: 20px;
  margin-right: 5px;
}

a{
  text-decoration: none;
  color: #f0c040;
}

p{
  font-size: 1.5rem;
}

li{
  list-style: none;
  font-size: 1.3em;
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2rem;
}

.flash-error {
  animation: flashRed 0.5s ease-in-out;
}

@media (max-width:1000px) {
  p{
    font-size: 3rem;
  }
  li{
    font-size: 1.7rem;
  }
  #navigation-cards{
    width: 80%;
  }

  h1{
  font-size: 5rem;
}
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: 4rem;
  }
}
@keyframes flashRed {
  0% { background-color: #ffdddd; }
  50% { background-color: #ff4d4d; }
  100% { background-color: #ffdddd; }
}